# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
allure-results/
env.bak/
venv.bak/
*.so

# Flask
instance/
.webassets-cache
.env
.flaskenv

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
*.cover
.hypothesis/
allure-results/
report.html

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log